/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./container.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  margin-bottom: 32px;
}

.form__input {
  width: 272px;
  height: 40px;
  margin-right: 8px;
  padding-left: 16px;

  border: 1px solid #808080;
  border-radius: 4px;

}

.form__input:hover {
  border: 1px solid #000;

}

.form__input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: #4e75ff;

  border-radius: 8px;
  border: #4e75ff;
  padding: 8px 16px;

}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery__item {
  position: relative;
  width: 360px;
  height: 200px;

  border: 1px solid #808080;
}

.gallery__img {
  min-width: 280px;
  height: 152px;
}

.info-gallery__box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.info-gallery__list {
  display: flex;
  justify-content: space-around;
}

/* .info-gallery__item {
}
.info-gallery__text {
}
.info-gallery__span {
} */

/* стелі для alt для кращого вигляду */
div.sl-wrapper .sl-image .sl-caption {
  font-size: 20px;
  letter-spacing: 0.10em;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
}

/* анімація завантаження */

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #a79393;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #4e75ff;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}